.same{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
}

.logo-name{
    font-family: Segoe Print;
    font-size: 20px;
    color: #BBBBBB;
}

.menu-text{
   font-family: Helvetica;
   font-size: 16px;
}

.text{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;
}

.home-section{
    background-image: url("./images/arch-house.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    height: 100vh;
}

.home-container{
    display: flex;
    align-items: center;
}

.box-sec{
    border: 1px solid #292D33;
    background-color:#292D33;
    padding: 30px;
}

.team-margin{
    margin-top: 20px;
}

.box-text{
    font-family: sans-serif;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 1.1;
}

.team-text{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.learnmore-bttn{
    color: #FFFFFF;
    padding: 10px 36px 10px 36px;
    background-color:#292D33;
    border: 1px solid #ff6019;
    border-radius: 10px;
}

.design-text{
    text-align: center;
    color: #ff6019;
    font-family: Montserrat,sans-serif;
    font-size: 60px;
    line-height: 1.1;
    font-weight: 400;
}

.sample-text{
    margin-top:  27px; ;
    text-align: center;
    font-size: 16px;
    color: #000000;
}

.services-section{
    background-color: #E5E5E5;
}

